@using MusicStore.Models;
@{
    ViewBag.Title = "SongDetails";
    IEnumerable<Songs> songDetail = ViewBag.details;
}

<h2>SongDetails</h2>
@foreach (var events in songDetail)
{
    <h3>@songDetail</h3>
}


