@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong> <abbr title="Phone">Phone Number</abbr></strong>
    +234(0)8060031246
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:odigietony.jr@gmail.com">odigietony.jr@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:odigietony.jr@gmail.com">odigietony.jr@gmail.com</a>
</address>